{% extends 'base.html.twig' %}

{% block title %}Słowa do nauki{% endblock %}

{% block body %}
    <div class="container">
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
    {% endfor %}

        <h1 class="mt-5 mb-4 h4">Słowa do nauki</h1>

            {{ word.getWordENG()}}
        <form action="sprawdzenie" method="get">
            <input type="text" name="slowopl">
            <input class="btn btn-primary" type="submit" value="Sprawdzenie">
        </form>


    </div>
{% endblock %}