{% extends 'base.html.twig' %}

{% block title %}Nauka słów{% endblock %}

{% block body %}
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal">Lista słów do nauki</h1>
    {% for  Word  in showWord %}
        {{ Word.word_pl }}
    {% endfor %}

</div>

{% endblock %}